<p>Hey {{name}}!</p>
<p>
  Du hast dich erfolgreich am Konfetti System der BuFaK WiWi registriert.
  <br />
  Um die Registrierung abzuschließen rufe bitte den folgenden Link auf und setze
  ein sicheres Passwort für deinen User.
  <br />

  <a href="{{setPasswdUrl}}">{{setPasswdUrl}}</a>
  <br />
  Viele Grüße
  <br />

  Konfetti

</p>